@model IEnumerable<string>

@{
    ViewBag.Title = "Index";
}

<h2>Azure Blob Containers</h2>

    @using (Html.BeginForm("CreateContainer", "Home", FormMethod.Post))
    {
        @Html.TextBox("container_name")
        <input type="submit" value="Create">
    }
    
    @foreach (var item in Model)
    {
        <h3>@item</h3>
        <h4>@Html.ActionLink("remove", "RemoveContainer", new { item_name = item })</h4>
        <h4>@Html.ActionLink("view", "Index", "Container", new { container_name = item }, null)</h4>
    }

