@using BlobStorageTest.Controllers
@model BlobViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Azure Blob Containers</h2>

    @foreach (var item in Model.blobs)
    {
        <h3>@item.blob_name</h3>
        <h4>@Html.ActionLink("remove","Remove", new { item_name = item.blob_name })</h4>
        <img src="@item.blob_uri" />
    }

